<% include ./partials/header %>
<h1> About Todo App </h1>
<p>Hi All, </p><br>
<p>I am <strong>Harpreet Singh</strong>. I am having 1+ experience in Backend and frontend developement . I am proficient in core Java ,
  SpringBoot , SIP protocol ,LDAP protocol and REST API. I like to learn and explore new technologies so I started Web developement
  and learned technologies like HTML ,CSS ,JavaScript , jQuery, NodsJS, ExpressJS ,Mongoose ,MongoDB etc.</p>
  <p>I have built this Todo Web Application using following Technologies :</p>
<ul>
  <li>HTML</li>
  <li>CSS</li>
  <li>Semantic UI</li>
  <li>Restful API</li>
  <li>NodeJS</li>
  <li>ExpressJS</li>
  <li>PassportJS</li>
  <li>Passport-Local</li>
  <li>MongoDB</li>
  <li>Mongoose</li>
</ul>
<p>I have added the following features like : </p>
<ul>
  <li>User Authentication</li>
  <li>User can edit or delete the todo created by them</li>
  <li>We can only view the Todo that are happening today or will happen in the following days</li>
  <li>All the Todos are sorted based on their due date</li>
  <li>User can view their profile and all the Todos created by them</li>
  <li>User can only add new Todos whose due date is equal to or greater than todays date.</li>
  <li>Access Control - One user cant edit or delete the Todo created by other user</li>
  <li>The UI of the Web Application is kept as simple as possible and also added user-friendly messages in case of any error or success</li>
</ul>

</div>
<% include ./partials/footer %>
