<% include ./partials/header %>
    <div class ="ui header">Login Form</div>
        <form class ="ui form" action ="/login" method="POST">
            <div class="field">
                <label>UserName</label>
                <input type="text" name="username" placeholder="Username">
            </div>
            <div class="field">
                <label>Password</label>
                    <input type="password" name="password" placeholder="Password">
            </div>
                <input class="ui basic big button purple" type="submit">
        </form>
</div>
<% include ./partials/footer %>
