<% include ./partials/header %>
<p>Click <a href="/user/<%= id %>/profile">here</a> to view your profile. <p>
<p>Click <a  href="/user/<%= id %>/todo">here</a>View Your Todos</p>
</div>
<% include ./partials/footer %>
