html,body { height: 100%;  margin: 0; }
#arrow {
    font-size: 2em;
    padding-top: 3px;
}
.footer {
  height: 25px;
  background: black;
  text-align: center;
  color: white;
}

body {
  display: table;
  width: 100%;
}

.footer {
   display: table-row;
}
.container.main {
    margin-top: 7.0em;
}

#delete {
    display: inline;
}
